extends layout

block content
  #content
    #content-title
      h1 Account History
      p.
        You can view your Account History from here.
    #content-text
      h1 History
      button(onclick="fetch('/accountHistory/clearFilters', { method: 'PATCH'}); document.location.reload();")#filter-by-date.big-btn Filter by Date
      button(onclick="fetch('/accountHistory/filterByAction', { method: 'PATCH'}); document.location.reload();")#filter-by-action.big-btn Filter by Action
      button(onclick="fetch('/accountHistory/clearFilters', { method: 'PATCH'}); document.location.reload();")#clear-filters.big-btn Clear Filters
      #acc-list-section
        - var n = 0
        ul#acc-history-list.alerts-list
          each log in accHis.logs
            li(tabindex = n++) #{log}
          br

    