extends credential-layout

block credential-form
  div(id="create-account-form").credential-form
    h1 Raven Trade
    img(id="logo" src='/img/ravens-logo.png')
    p.credential-title Create an Account
        div.credential-field
          form(method="post" action="/create-account")
            label(for="username") Username: 
            input(type='text' name='username' placeholder='username' required)#set-username
            p
            label(for="password") Password: 
            input(type='password' name='password' placeholder='password' required)#set-password
            input(type='submit' value='⏎')#set-submit
    a(href="/")#login-link or Login
  