header
    #title Raven Trade
    .nav-bar
        ul.nav-item 
            a(href='/portfolio'): li Portfolio 
            a(href='/stocks'): li Stocks
            a(href='/orders'): li Orders
            a(href='/alerts'): li Alerts
            a(href='/accountHistory'): li Account