extends credential-layout

block credential-form
  div(id="login-form" action="/login" method="POST").credential-form
    h1 Raven Trade
    img(id="logo" src='/img/ravens-logo.png')
    p.credential-title Login
        div.credential-field
          form(method="post" action="/")
            label(for="username") Username: 
            input(type='text' name='username' placeholder='username')#check-username
            p
            label(for="password") Password: 
            input(type='password' name='password' placeholder='password')#check-password
            input(type='submit' value='⏎')#check-submit
    a(href="/create-account")#create-account-link or Create an Account
  