extends layout

block content
  div(id="stocks")
    h1.small-title Browse Stocks
    div(id="search-box").stock-info-box
      form
        label(for="searchbox")#searchbox-label Search: 
        input(type='text' name='searchbox' placeholder='eg. XYZ')#searchbox
        input(type='submit' value='⏎')#searchbox-submit
    div(id="stock-box").stock-info-box
      ul(id="stock-list").stock-list
        li(tabindex=1) XYZ
        li(tabindex=1) XYZ
        li(tabindex=1) XYZ
        li(tabindex=1) XYZ
        li(tabindex=1) XYZ
        li(tabindex=1) XYZ
        li(tabindex=1) XYZ
        li(tabindex=1) XYZ
        li(tabindex=1) XYZ
        li(tabindex=1) XYZ
        li(tabindex=1) XYZ
        li(tabindex=1) XYZ
        li(tabindex=1) XYZ
        li(tabindex=1) XYZ
        li(tabindex=1) XYZ
        li(tabindex=1) XYZ
        li(tabindex=1) XYZ
        li(tabindex=1) XYZ
        
    div(id="stock-btn").stock-info-box
      button(id="btn-view-stock").big-btn View Stock
      button(id="btn-place-order").big-btn Place Order
      button(id="btn-add-watchlist").big-btn Add to Watchlist
      button(id="btn-add-alert").big-btn Add Alert
    

      
    
          


             
    
      