extends layout

block content
  #content
    #content-title
      h1 Watchlists
      p.
        You can view and manage your Watchlists from here.
    #content-text
      h1 Watchlists
      select#watch-dropdown.clsDropdown 
        option#watchlist1.clsOption(value="0") Watchlist #1
        option#watchlist2.clsOption(value="1") Watchlist #2
        option#watchlist3.clsOption(value="2") Watchlist #3
        option#watchlist4.clsOption(value="3") Watchlist #4
      #watch-list-section
        ul#wlist.stock-list
          li XYZ
          li ABD
          li AAPL
          li DES
          li TRV
          li CRC
          li IDL
          li CSCO
      button#delete-watchlist.big-btn Delete Watchlist
      button#unwatch-stock.big-btn Unwatch Stock
      p Create New Watchlist:
      //input#new-watchlist-name.clsInput
      form
        //label(for="searchbox")#searchbox-label Search: 
        input(type='text' name='searchbox' placeholder='eg. My Watchlist' id = 'watchlistBox').inputBox
        input(type='submit' value='⏎' id = 'watchlist-submit').inputBox-submit

             
    