html, body {
    margin: 0px;
    min-height: 100%;
}

body {
    font: 14px "Lucida Grande", Helvetica, "Arial", sans-serif;
    background-color: #282828;
    display: flex;
    flex-direction: column;
}

.credential-form {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    width: 50%;
    display: inline-block;
    padding: 4em;
    color: #E8E8E8;
    background-color: rgba(53, 51, 51, 0.877);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px; 
}

#logo {
    width: 20%;
    height: 20%;
}

.credential-title {
    padding-top: 2%;
    font-size: 20px;
}

.credential-field {
    text-align: left;
    display: inline-block;
    padding: 3%;
}

input[type="text"],
input[type="password"], 
input[type="submit"] {
    border: none;
    color: rgb(24, 24, 24);
    height: 100%;
    padding: 0.8em;
}

input[type="submit"] {
    background-color: rgb(228, 28, 52);
    color: white;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(221, 61, 80);
    transition-duration: 0.4s;
}

#create-account-link, #login-link {
    text-decoration: none;
    color: white;
}

#create-account-link:hover, #login-link:hover {
    opacity: 0.6;
    transition-duration: 0.4s;
}

header, credential-header {
    background-color: rgba(14, 13, 13, 0.877);
    display: flex;
    border-bottom-color: rgb(228, 28, 52);
    border-bottom-style: solid;
    border-bottom-width: 3px;
    flex: 1;
    z-index: 1;
}

#title {
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    display: block;
    padding: 12px 20px;
    padding-right: 0%;
    font-size: 20px
}

.small-title, .small-label {
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    display: block;
    font-size: 30px
}

.small-label {
    font-size: 20px
}

.nav-bar {
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: 39%;
}

.nav-item {
    float: right;
    height: 50%;
}

.nav-item a {
    text-decoration: none;
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px
}

.nav-item a:hover {
    cursor: pointer;
    -webkit-text-fill-color: rgb(221, 61, 80);
}

.nav-item a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 16px;
}

#content {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 15%;
    display: inline-block;
    z-index: 0;
}

#content-title {
    width: 50%;
    display: inline-block;
    padding: 4em;
    background-color: #383838;
    color: #E8E8E8;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
}

#content-text {
    text-align: left;
    width: 50%;
    display: inline-block;
    padding: 4em;
    color: #E8E8E8;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
}

#portfolio, #stocks, #stock-info {
    text-align: left;
    position: absolute;
    width: 70%;
    top: 15%;
    padding-left: 10%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    z-index: 0;
}

#stocks, #stock-info {
    text-align: center;
    position: absolute;
    padding-left: 15%;
    flex-direction: column;
    z-index: 0; 
}

#searchbox-label {
    padding: 1em;
    color: #E8E8E8;
}

.port-info-box {
    text-align: left;
    width: 40%;
    display: inline-block;
    padding: 4em;
    color: #E8E8E8;
    background-color: rgba(53, 51, 51, 0.877);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px; 
}

.big-btn {
    display: table-cell;
    border-radius: 3%;
    border-style: hidden;
    padding: 10px;
    margin: 5px;
}

.big-btn:hover {
    background-color: rgb(221, 61, 80);
    transition-duration: 0.4s;
}

#port-info {
    width: 100%;
}

#owned-stock {
    width: 70%;
}

#owned-stock-title {
    text-align: left;
    white-space: nowrap;
    width: 50%;
    display: inline-block;
    color: #E8E8E8;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px; 
}

.stock-list {
    background-color: rgb(105, 105, 105);
    overflow: scroll;
    overflow-x: hidden;
    list-style: none;
    height: 29em;

}

.stock-list li {
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 10px;
    text-decoration: none;
}

.stock-list li:hover, .stock-list li:focus{
    cursor: pointer;
    background-color: rgb(77, 77, 77);
    border-style: hidden;
}

.info-table {
    text-align: center;
    color: white;
    width: 100%
}

.clsInput {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
    font-weight: 500;
    size: 15px;
    color: rgb(20, 19, 19);
    background-color: rgb(194, 189, 189);
}

#Order {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.clsAlertStock {
    position: relative;
    padding-left: 3%;
    color: #E8E8E8;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 16px;
    order: 1;
}

.clsConditionStock {
    position: relative;
    padding-left: 3%;
    color: #E8E8E8;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px; 
    order: 2;
}

.alerts-list {
    background-color: rgb(105, 105, 105);
    overflow: scroll;
    overflow-x: hidden;
    list-style: none;
    height: 29em;
}

.alerts-list li {
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 10px;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(14, 13, 13, 0.877);
}

.alerts-list li:hover {
    cursor: pointer;
    background-color: rgb(77, 77, 77);
}

#alert-stock-symbol {
    font-size: 18px;
}

#alert-when {
    font-size: 14px;
}

#Active-Deactive-State {
    font-size: 14px;
    background-color: springgreen;
    font-weight: bold;
    color: rgba(14, 13, 13, 0.877);
    max-width: fit-content;
}

#date-event {
    text-align: right;
}

.clsDropdown {
    background-color: rgb(105, 105, 105);
}

.clsOption {
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 10px;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(14, 13, 13, 0.877);
}

